<% if @the_director %>
  <h1>Director: <%= @the_director.name %></h1>

  <dl>
    <dt>Date of Birth:</dt>
    <dd><%= @the_director.dob ? @the_director.dob.strftime('%Y-%m-%d') : 'Unknown DOB' %></dd>

    <dt>Bio:</dt>
    <dd><%= @the_director.bio.presence || 'No bio available' %></dd>

    <dt>Image:</dt>
    <% if @the_director.image.present? %>
      <img src ="<%= @the_director.image %>" width ="200">
    <% else %>
      <p>No image available</p>
    <% end %>
  </dl>

  <h2>Filmography</h2>

  <% if @movies.present? %>
    <table border="1">
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th></th>
      </tr>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.title %></td>
          <td><%= movie.year %></td>
          <td>
            <a href="/movies/<%= movie.id %>">Show details</a>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p>No movies found for this director.</p>
  <% end %>

  <a href="/directors">Go back to directors list</a>
<% else %>
  <h1>No director found</h1>
  <a href="/directors">Go back to directors list</a>
<% end %>
