<h1><%= @the_actor.name %></h1>

<p><strong>Date of Birth:</strong> <%= @the_actor.dob %></p>
<p><strong>Bio:</strong> <%= @the_actor.bio %></p>

<h2>Characters Played by <%= @the_actor.name %></h2>
<ul>
  <% @characters.each do |character| %>
    <li><%= character.name %> in <%= character.movie.title %></li>
  <% end %>
</ul>

<h2>Movies & Directors</h2>
<table border="1">
  <tr>
    <th>Movie</th>
    <th>Director</th>
  </tr>
  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.title %></td>
      <td><%= movie.director&.name || 'Unknown Director' %></td>
    </tr>
  <% end %>
</table>

<a href="/actors">Go back to actors list</a>
